.action-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  color: #0069b4;
  font-family: inherit;
  padding: 0;
  text-align: left;
  border: none;
  border-radius: 4px;
}

.action-btn:hover {
  background-color: rgba(0, 105, 180, 0.1);
  cursor: pointer;
}

.icon-cont {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9em;
  border-radius: 4px;
  margin-right: 15px;
  background-color: rgba(0, 105, 180, 0.3);
}

.slide-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-overflow {
  position: absolute;
  display: flex;
  flex-direction: row;
  transition: left 0.1s linear;
}

.slide-overflow > * {
  flex: 1;
}

.slide-disabled {
  filter: brightness(30%);
  pointer-events: none;
}

.group {
  display: flex;
  flex-direction: row;
}

.group > * {
  flex: 1;
}

.group > * + * {
  margin-left: 5px;
}
