.hover {
  position: absolute;
  right: 15px;
  left: 15px;
  border-radius: 4px;
}

.hover-big {
  bottom: 5px;
  padding: 18px 16px;
  background-color: rgba(247, 219, 42, 0.8);
}

.hover-small {
  top: 15px;
  padding: 8px 16px;
  background-color: rgb(248, 226, 84);
}

.hover a {
  text-decoration: underline;
  color: #0069b4;
}

.ok-btn {
  float: right;
  padding: 15px 5px 0 5px;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 1.1em;
  cursor: pointer;
}
