.content {
  display: flex;
  flex-direction: column;
  overflow-y: unset;
}

.headline {
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
}

.scroll {
  flex: 1;
  flex-basis: 0;
  overflow-y: auto;
  margin-bottom: 1.5em;
}

.red {
  color: red;
  font-weight: bold;
}

.small-title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 1em 0 0.2em 0;
}

.emoji-title::first-letter {
  font-size: 1.8em;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0;
  padding-left: 1em;
  list-style-type: "- ";
  max-height: 9em;
  max-width: 32em;
}

@media screen and (max-width: 800px) {
  .list {
    max-height: none;
    flex-wrap: nowrap;
  }
}

.btn-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-cont button {
  height: calc(4em + 4px);
  padding: 6px 26px;
  text-transform: uppercase;
}

.btn-cont .red-btn:hover {
  background-color: #cc4a4a;
}

.disabled {
  background-color: #828282 !important;
  cursor: default !important;
}

.btn-cont .red-btn {
  background-color: #eb5757;
}

.btn-cont > div > button + button {
  margin-left: 30px;
}
