.bubble-rating {
  position: absolute;
  left: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  top: 0;
  align-items: center;
  padding-left: 20px;
  font-size: 1.3em;
}

.rating-emoji {
  height: 1.8em;
  width: 1.8em;
  border-radius: 4px;
  border: 1px solid #80808027;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: all linear 0.1s;
}

.rating-emoji-hidden {
  position: absolute;
  left: 0;
}

.rating-emoji:hover {
  transform: scale(1.15);
  margin: 0 5px;
}

.bubble-rating > * + * {
  margin-left: 5px;
}

.rating-expand {
  margin-left: 15px;
  color: gray;
  cursor: pointer;
  transition: transform linear 0.1s;
}

.rating-expand:hover {
  transform: scaleX(1.2) translateX(20%);
}

.rating-indicator {
  position: absolute;
  bottom: -0.7em;
  left: 0;
  font-size: 1.2em;
  background-color: white;
  border: 2px #f2f2f2 solid;
  border-radius: 4px;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
}

.popup-emoji-cont {
  width: 100%;
  height: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.popup-emoji {
  display: inline;
  font-size: 60px;
  margin-right: 20px;
}
