.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.527);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 80vw;
  height: 80vh;
  background-color: #fff;
  position: relative;
  padding: 40px;
}

@media screen and (max-width: 500px) {
  .popup {
    align-self: flex-end;
    width: 100vw;
    padding: 15px;
  }

  .popup-transparent {
    height: 100vh;
    align-self: center;
    background: transparent;
  }

  .popup-transparent .content {
    display: flex;
  }

  .popup-transparent .close-btn {
    color: white;
    font-size: 4em;
  }
}

.content {
  height: 100%;
  overflow-y: auto;
  font-weight: 300;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 32px;
  color: #0069b4;
  cursor: pointer;
}

.popup button {
  border: none;
  background-color: #0069b4;
  font-family: inherit;
  color: white;
  padding: 16px 18px;
  border-radius: 4px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #03538d;
}
