/* .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.content > h1 {
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.btn-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.icon-cont {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9em;
  border-radius: 4px;
  margin-right: 15px;
  color: #0069b4;
  background-color: rgba(0, 105, 180, 0.3);
}

.icon-cont:hover {
  background-color: rgba(0, 105, 180, 0.1);
  cursor: pointer;
}
