.cont {
  /* position: absolute;
  left: 0;
  top: 0;
  bottom: 0; */
  height: 100%;
  width: 450px;
  padding-left: 100px;
  padding-top: 30px;
}

.sidebar {
  width: 350px;
  height: 100%;
  background: white;
  padding: 64px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 0 0;
}

.sidebar > * + * {
  margin-top: 30px;
}

.title + *,
.small-title + * {
  margin-top: 0.8em;
}

.avatar {
  background: url("/logo.png");
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}

.small-title {
  text-transform: uppercase;
  color: #bdbdbd;
  font-size: 0.9em;
}

.desc {
  font-weight: 100;
  color: rgb(51, 51, 51);
}

.actions-cont > * + * {
  margin-top: 10px;
}

.messengers-cont {
  display: flex;
  flex-direction: row;
  color: #1c8adb;
}

.disclaimer {
  text-decoration: underline;
  color: #0069b4;
  margin-top: auto;
  cursor: pointer;
}
