.sidebar {
  width: 350px;
  height: calc(100vh - 30px);
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 100px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 64px 30px 30px 30px;
  border-radius: 15px 15px 0 0;
  transition: left linear .2s;
}

.hamburger {
  display: none;
  color: white;
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 2.3em;
}

.menu-toggle {
  display: none;
}

.fog {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.527);
  z-index: 1;
}

.back-arrow {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  color: #0069b4;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    top: 0;
    left: 0;
    border-radius: 0;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    height: 100vh;
    left: -100%;
  }

  .hamburger {
    display: block;
  }

  .menu-toggle:checked + .sidebar {
    left: 0;
  }

  .menu-toggle:checked + .sidebar .back-arrow {
    display: block;
  }

  .menu-toggle:checked ~ .fog {
    display: block;
  }
}

.scroll-cont {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar > * + *,
.scroll-cont > * + * {
  margin-top: 30px;
}

.title + *,
.small-title + * {
  margin-top: 0.8em;
}

.avatar {
  background: url("/logo.png");
  width: 200px;
  min-height: 200px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}

.small-title {
  text-transform: uppercase;
  color: #bdbdbd;
  font-size: 0.9em;
}

.desc {
  font-weight: 100;
  color: rgb(51, 51, 51);
}

.actions-cont > * + * {
  margin-top: 10px;
}

.messengers-cont {
  display: flex;
  flex-direction: row;
  color: #1c8adb;
  /* Minimum margin for the disclaimer */
  margin-bottom: 10px;
}

.disclaimer {
  text-decoration: underline;
  color: #0069b4;
  margin-top: auto;
  cursor: pointer;
}
