.cont {
  width: 500px;
  height: 100%;
  background: white;
  padding: 70px 60px 30px 60px;
  display: flex;
  flex-direction: column;
}

.cont > * + * {
  margin-top: 30px;
}

.avatar {
  background: url("/logo.png");
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}

.small-title {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.desc {
  margin-top: 0.5em;
  font-weight: 100;
  color: rgb(51, 51, 51);
  flex-grow: 1;
}

.stars {
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
}

.stars > svg + svg {
  margin-left: 10px;
}

.action-btn {
  width: 100%;
  display: block;
  margin-top: 10px;
  padding: 10px 17px;
  text-align: left;
  background-color: #0069b3;
  color: white;
  border: none;
  border-radius: 4px;
}

.action-btn:hover {
  background-color: #4a85af;
  cursor: pointer;
}

.cont > hr {
  border: solid 1px rgb(192, 192, 192);
  border-bottom: none;
  margin: 50px -30px 20px -30px;
}

.messengers-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  color: #0069b3;
}
