@font-face {
  font-family: "Blender Pro";
  /* src: url("../public/fonts/BlenderPro.woff2") format("woff2"); */
  src: url("../public/fonts/BlenderPro-Medium.woff") format("woff");
  font-weight: normal;
  size-adjust: 120%;
  font-size-adjust: 120%;
}

@font-face {
  font-family: "Blender Pro";
  /* src: url("../public/fonts/BlenderPro-Thin.woff2") format("woff2"); */
  src: url("../public/fonts/BlenderPro-Bold.woff") format("woff");
  font-weight: 900;
  size-adjust: 120%;
  font-size-adjust: 120%;
}

@font-face {
  font-family: "Blender Pro";
  /* src: url("../public/fonts/BlenderPro-Thin.woff2") format("woff2"); */
  src: url("../public/fonts/BlenderPro-Thin.woff") format("woff");
  font-weight: 100;
  size-adjust: 120%;
  font-size-adjust: 120%;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Blender Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  background-color: ghoswhite;
  overflow-y: auto;
}

body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100%;
  /* margin: 0 auto;
  padding: 10px 0; */
}
